footer {
    background-color: var(--secondary-color);
    padding: var(--padding-s) var(--padding-l);
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-container img {
    cursor: pointer;
}

footer ul {
    display: flex;
    gap: var(--gap-m);
    justify-content: center;
}

footer p {
    font-size: var(--font-size-xs);
    color: var(--text-color);
}
