.project-card-container {
    line-height: 0;
    position: relative;
    overflow: hidden;
    min-width: 350px;
    flex: 1;
}

.project-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--border-radius-s);
}

.project-card-body {
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(59, 57, 114, 0.8);
    color: var(--white-color); /* Text color on the overlay */
    width: 100%;
    height: 100%;
    padding: var(--padding-s) var(--padding-s);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: var(--border-radius-s);
}

.project-card-info {
    display: flex;
    flex-direction: column;
    gap: var(--gap-m);
    margin-top: var(--margin-xs);
}

.project-card-container:hover .project-card-body {
    opacity: 1;
}

.project-card-links {
    display: flex;
    gap: var(--gap-s);
}
