.language-box {
    color: var(--text-color);
    padding: 0 var(--padding-m);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.language-box p {
    text-transform: uppercase;
}

.language-box span {
    text-transform: capitalize;
    font-size: var(--font-size-xs);
    margin-left: var(--margin-xs);
}

.filled-circle {
    width: 12px;
    height: 12px;
    background-color: var(--primary-color);
    border-radius: 50%;
}

.outline-circle {
    width: 12px;
    height: 12px;
    border: 1px solid var(--primary-color);
    border-radius: 50%;
    background-color: var(--gray-color);
}

.circle-container {
    display: flex;
    gap: var(--gap-xs);
}