textarea {
    padding: var(--padding-xs);
    border: 1px solid var(--gray-color);
    border-radius: var(--border-radius-xs);
}

textarea::placeholder {
    font-family: var(--font-family);
}

textarea:focus, textarea:active, textarea:focus-visible {
    outline: none;
    border: 1px solid var(--primary-color);
}